.row{
    display:flex;
    height:30px;
}

#return{
    margin-top: 10px;
    height:30px;
    width: 90px;
    background-image: url("./images/go_back.png");
}

#return:hover{
    background-image: url("./images/go_back_hover.png");
}


.column{
    width:30px;
    height:100%;
    border: 1px solid black;
}

.column:hover{
    background-color: lightgray;
}